[submodule "smaf-api"]
	path = smaf-api
	url = git@github.com:vigitto-vanhecke/smaf-api.git
	branch = dockerBackend
[submodule "smaf-frontend"]
	path = smaf-frontend
	url = git@github.com:vito-vanhecke/smaf-frontend.git
	branch = dockerFrontend
